# pixi environments
.pixi/*
!.pixi/config.toml

# Data and DB directories
data/*
!data/.gitkeep
!data/cybersecurity_attacks.csv
!data/df.parquet
# Saved models
!models/.gitkeep

# Cache directories
**/*__pycache__*

# .env (unused for now)

.env

#  Claude directory
.claude/*
